[Unit]
Description=sledge - daemon for scheduling tasks
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python3 /opt/sledge/sledged.py
[Install]
WantedBy=multi-user.target
